accelerate==1.1.1
datasets==3.6.0
evaluate
fastai
fsspec==2025.2.0.*
h5py
ipykernel
lightning
matplotlib==3.9.2
numba==0.60.0
numpy==1.26.4
pandas==2.2.2
pillow
pip
pyarrow==18.1.0
scikit-learn==1.5.2
scipy==1.13.1
sentencepiece==0.2.0
torch==2.8
torchrun_jsc>=0.0.15
tqdm
transformers==4.46.3
wandb
